<!doctype html>
<html>

	<head>

		<% css.forEach(function(style){ %>
			<link rel="stylesheet" type="text/css" href="<%= style %>">
		<% }) %>

		<!-- Jasmine, Libraries, Sources -->
		<% with (scripts) { %>
			<% [].concat(jasmine,helpers).forEach(function(script){ %>
				<script src="<%= script %>"></script>
			<% }) %>
		<% }; %>

		<!-- Libraries -->
		<script src="../source/assets/js/jquery.js"></script>
		<script src="../source/assets/js/handlebars.js"></script>
		<script src="../source/assets/js/ember.js"></script>
		<script src="../source/assets/js/ember-data.js"></script>

		<% with (scripts) { %>
			<% specs.forEach(function(script){ %>
				<script src="<%= script %>"></script>
			<% }) %>
		<% }; %>



	</head>

	<body>
<script>

			(function() {

			  var jasmineEnv = jasmine.getEnv();
			  jasmineEnv.updateInterval = 250;

			  var htmlReporter = new jasmine.HtmlReporter();
			  jasmineEnv.addReporter(htmlReporter);

			  jasmineEnv.specFilter = function(spec) {
			    return htmlReporter.specFilter(spec);
			  };

			  var currentWindowOnload = window.onload;
			  window.onload = function() {
			    if (currentWindowOnload) {
			      currentWindowOnload();
			    }

			    execJasmine();
			  };

			  function execJasmine() {
			    jasmineEnv.execute();
			  }
			  
			})();
			
		</script>
	</body>

</html>